body.bg-dark {
  background-color: #333 !important;
  color: white;
}

.logo h3 {
  font-weight: 900;
  font-style: italic;
}

.avatar-icon-small {
  width: 40px;
  height: 40px;
  background-color: black;
}

.nav-pills .nav-link {
  background-color: #444;
  color: white;
  border-radius: 30px;
  font-weight: 600;
  padding: 5px 15px;
  transition: background-color 0.3s ease;
}

.nav-pills .nav-link.active,
.nav-pills .nav-link:hover {
  background-color: #008080;
  color: white;
}

.form-label {
  font-weight: 700;
  font-style: italic;
  color: #eee !important;
}
