.login-box {
  background-color: #555555;
  border: 2px solid #00a1aa;
  border-radius: 20px;
  width: 320px;
  padding: 30px 25px 25px 25px;
  box-shadow: 0 0 15px rgba(0, 161, 170, 0.5);
  color: #fff;
}

.avatar {
  background-color: #3a4417;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 0 auto 25px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 8px #2f3c1a;
}

.avatar-icon {
  background-color: black;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-custom {
  background-color: #ddd;
  border-radius: 15px;
  padding: 8px 15px;
  border: none;
  color: black;
  box-shadow: inset 1px 1px 4px #bbb;
  font-weight: 600;
}

.form-label {
  font-weight: 600;
  margin-bottom: 6px;
  color: #e1e1e1;
}

.text-secondary {
  font-size: 0.8rem;
  margin-top: -5px;
  margin-bottom: 15px;
  color: #c2c2c2 !important;
}

a.text-danger {
  color: #d47ca0 !important;
  font-weight: 600;
  text-decoration: none;
}

a.text-danger:hover {
  text-decoration: underline;
}

.btn-custom {
  border-radius: 25px;
  width: 130px;
  font-weight: 700;
  padding: 7px 0;
  box-shadow: 0 2px 4px rgb(0 0 0 / 0.15);
  transition: background-color 0.3s ease;
}

.btn-info {
  background-color: #8bd6db;
  border-color: #8bd6db;
  color: black;
}

.btn-info:hover {
  background-color: #6fc3c7;
  border-color: #6fc3c7;
  color: black;
}

.btn-success {
  background-color: #8bcf98;
  border-color: #8bcf98;
  color: black;
}

.btn-success:hover {
  background-color: #6ab572;
  border-color: #6ab572;
  color: black;
}
